.menu-container {
    position: absolute;
    width: 400px;
    height: 1000px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(161, 138, 113);
    /* transition: width 4s, height 4s;
    transition-delay: 1s; */
}

.exit-btn {
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.menu-options-list {
    padding: 96px 70px;
    display: flex;
    flex-direction: column;
    text-align: initial;
}

.menu-option {
    color: white;
    font-size: 18px;
    text-decoration: none;
}