.App {
  width: 100%;
  height: 1000px;
  text-align: center;
  background-color: #ffffff;
  font-family: system-ui;
}

.home {
  justify-content: center;
}

.searched-clothes-container {
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
}

.item-card {
  margin-left: 20px;
  /* width: 30rem;
  height: 30rem; */
}

.card-container {
  display: flex;
  flex-direction: column;
  height: 10rem;
  height: 18rem;
}

.card-img {
  height: 65%;
}
.card-text {
  height: 20%;
}

.add-to-card-btn {
  background-color: rgb(161, 138, 113);
  border: none;
}