.contact-container {
    font-size: 20px;
}

.contact-text-line {
    padding-bottom: 15px;
}

.btn-container {
    margin-top: 10px;
    height: 50px;
}

.waze-navigate-btn {
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(161, 138, 113);
    text-decoration: none;
    color: black;
}

.open-whatsapp-btn {
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(161, 138, 113);
    text-decoration: none;
    color: black;
}