.App-header-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}

.first-line-header-container {
    width: 100%;
    height: 40px;
    background-color: rgb(161, 138, 113);
}

.second-line-header-container {
    display: flex;
    justify-content: space-between;
    padding: 22px 30px;
    align-items: center;
}

.app-logo-container {
    display: flex;
    flex-direction: column;
}

.App-logo {
    height: 110px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-logo-span {
    margin-top: -5px;
    font-size: 12px;
    color: black;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.menu-btn {
    display: flex;
    float: left;
    cursor: pointer;
    align-content: center;
}

.menu-font {
    font-size: 14px;
    align-self: center;
    color: black;
    margin-left: 10px;
}

.right-section {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.search-btn {
    cursor: pointer;
}

.bag-btn {
    cursor: pointer;
}