.catalog-card-container {
    display: grid;
    /* height: 100vh; */
    padding-bottom: 100px;
    grid-template-areas: "bigImg smallImgFirst"
                         "bigImg smallImgSecond";
    grid-gap: 20px;
    justify-content: center;
}

.big-img {
    grid-area: bigImg;
    height: 100%;
}

.small-img-first {
    grid-area: smallImgFirst;
    height: 50vh;
}

.small-img-second {
    grid-area: smallImgSecond;
    height: 50vh;
}